.button {
  font: inherit;
  border: 3px solid rgb(0, 0, 0);
  background:rgb(68, 66, 69);
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
}

.button:hover,
.button:active {
  background:rgb(158, 59, 208);
  border-color: rgb(0, 0, 0);
}

.button:focus {
  outline: none;
}

a {
  color: white;
}

#edit {
  justify-self: right;
  margin-left: 30px;
}
