#go-back {
    background-color: gray;
    color: black;
    align-items: center;
    width: 100px;
    height: 30px;
    margin-top: 30px;
}

form {
    width: 100%;
    height: 100px;
    align-items: center;
    height: auto;
    display: flex;
    flex-direction: column;
}

.edit-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}