/* Food.css (or Workout.css) */
.custom-card {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  height: 300px; /* Set the desired fixed height */
  width: 100%
}

.card-image {
  width: 'auto';
  height: 50%;
  object-fit: cover;
}

.card-body {
  flex: 1;
  background-color:#184e6e;
  width: 100%;
}

body {
  color : white;
  background-color:#184e6e;
  ;
}

.card-body button {
  margin-top: auto; /* Align the button to the bottom */
}

.grid-container {
  color: 
}

/* Food.css */
.edit-button,
.delete-button {
  margin-right: 10px; /* Adjust as needed for spacing between buttons */
}

.edit-button,
.delete-button {
  background-color: #888; /* Gray color for both buttons */
  color: #fff; /* White text color */
}