/* .outerDiv {
    height: 50;
    width: '100%';
    background-color: beige;
    border-radius: 40;
}

.innerDiv {
    height: '100%';
    background-color: blue;
}

.text {
    color: black;
    font-size: 0.8rem;
    display: table;
    margin: 0 auto;
} */