
.workout {
    background-color: crimson;
    margin: 20px 50px 20px 50px;
    padding: 5px;
    height: 1000px;
    width: 90%;
    justify-content: center;
}

h1 {
    display: block;
    width: auto;
    text-align: center;
}

